header{
    background:#ff5722;
    color:#fff;
    text-align: center;
    padding: 10px;

}


.container .app_area{
    margin: 0px auto !important;
    padding: 0px;
}

.proceed_select{
    position: absolute;
    bottom: 50px;
    z-index: 1000;
}

.camera img{
    width: 100%;
    margin:0px auto;
    padding:0px;
    max-height:100vh;
}

.pwa_logo{
    margin:-10px;
}


.app_area a{
    color:#fff;

}

.app_area a:hover{
    text-decoration: none;
    
}


.offline{
    opacity:0.8;
}

.button_nav{
padding:10px;
margin:10px auto;
}

.step_2{
    margin:10px auto;
    text-align: center;
}

#cam_preview{
    width:auto;
    max-height:500px;
    margin:0px auto;
}

section.image_preview img{
    width:100%;
    max-height: 70vh;
}

button{
    text-align: center;
    vertical-align: middle;
}

